<h1>Listing Medications</h1>
<div class="row">
  <div class="col-md-8">
    <div class="media">
      <div class="media-body">
        <h4 class "media-heading">
          <%= link_to 'Show all', medication_path %>
          <%= link_to 'New', new_medication_path %>
          <%= link_to 'Edit', edit_medication_path(medication)%>
          <%= link_to 'Delete', medication, method: :delete, data:  { confirm: 'Are you sure you want to delete this medication?' } %>
        </div>
      </div>

    </div>
  </div>
