<h1>About Your Migraine Tracker</h1>
<p>Created by: Katelyn Hertel</p>
<p>This website was created keeping myself and my family in mind. We are all migraine sufferers and I am hoping that this app will be useful to us and all other migraine sufferers alike!</p>
<p>Your Migraine Tracker was created using Ruby on Rails</p>
