<h1>Welcome to Your Migraine Tracker! Please <%= link_to "Log In!", new_user_session_path, :class => 'navbar-link'  %></h1>
<p>This is the home page for Your Migraine Tracker.</p>
<p>This site contains areas for you as a user to keep track of your migraines on a day to day basis. The information you put in will be stored in a graph so you can see your progresss.</p>
<p>There is also a place for you to keep track of your headache medications as well as weather and allergy forecasts for your zip code.</p>
<p>Using <a href ="http://www.accuweather.com/">Accuweather.com</a> you will also be able to see the migraine forecast for your area.</p>
